@font-face {
    font-family: AlexBrush;
    src: url(AlexBrush-Regular.ttf);
}

@font-face{
	font-family: Rubik;
	src: url(Rubik-Bold.ttf);
}
body{
	background-color: deepskyblue;
}
h1{
	font: 128px/128px	AlexBrush;
	color: black;
	text-align: left;
}
.onImage{
	position: absolute;
	background: deepskyblue;
}
.onImage h1.birthday{
	z-index: 2;
	position: absolute;
	top: 25%;
	left: 15%;
	right: 0;
	font: 54px/54px Rubik;
	width: 80%;
	height: 26px;
	padding: 0;
	text-align: right;
	color: darkred;
}
.onImage h1.notReally{
	z-index: 2;
	position: absolute;
	top: 75%;
	left: 0;
	right: 0;
	font: 32px/32px Rubik;
	width: 80%;
	height: 26px;
	padding: 0;
	margin: 0;
	margin-top: -26px;
	color: darkred;
	text-align: right;
}
.onImage img{
	z-index: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
form{
	font: 19px/19px Rubik;
	color: green;
	text-align: right;
}
